@media all and (max-width: 768px) {
  #contact {
    text-align: center; }
    #contact h2 {
      text-align: center; }
    #contact .contact-form input[type="submit"] {
      margin: auto 0;
      float: none; } }
